/* Global styles */
body {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
}

/* Slider container */
.slider {
    height: 600px;
    width: 1200px;
    overflow: hidden;
    position: relative;
}

/* Slider images */
.myslider img {
    height: 600px;
    width: 100%;
    z-index: -1;
}

/* Individual slides */
.img-slider .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slider .slide:nth-child(2) {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: polygon(0 51%, 1% 1%, 2% 51%, 0% 100%);
}

.img-slider .slide:nth-child(3) {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 90%);
}

.img-slider .slide:nth-child(4) {
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

/* Active slide */
.img-slider .slide.active {
    clip-path: circle(150% at 0 49%);
    transition: 2s;
    transition-property: clip-path;
}

/* Slide info */
.myslider .info {
    position: absolute;
    top: 25%;
    z-index: 2;
    left: 10%;
}

/* Slide navigation */
.img-slider .navigation .active {
    width: 24px;
}

/* Slide animation keyframes */
@keyframes moveDown {
    0% {
        transform: translateY(-1000%);
        opacity: 1;
    }

    100% {
        transform: translateY(-10%);
        opacity: 1;
    }
}

/* Previous and Next buttons */
.prev,
.next {
    color: #c71919;
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 12px;
    cursor: pointer;
    transform: 0.2s;
    user-select: none;
    z-index: 5;
}

/* Button hover */
.prev:hover,
.next:hover {
    color: #3498db;
}

.next {
    right: 0;
}

/* Slide navigation dots */
.dotbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    z-index: 4;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #1a0202;
    margin-top: 20px;
    border-radius: 50%;
}

/* Slide animations */
@keyframes slideLeft {
    0% {
        transform: translateX(-1000%);
    }

    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes slideLeft {
    0% {
        transform: translateX(-1000%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideright {
    0% {
        transform: -translateX(-1000%);
    }

    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes slideright {
    0% {
        transform: -translateX(-1000%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Slide animation classes */
.animate {
    -webkit-animation-name: slideLeft;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-name: slideLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* Slide 3 animation */
.box-animation {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 200px;
    z-index: 7;
    animation: slide-up 1s ease-out;
}

/* Slide 3 animation keyframes */
@keyframes slide-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

/* Individual box style */
.box {
    height: 220px;
    width: 150px;
}

/* Slide-3 image style */
.slide-3-img {
    position: absolute;
    top: -111px;
    left: -10px;
    z-index: 10;
    height: 20px;
    width: 20px;
}

/* Slide-3 image animation */
.slide-3-img-animate {
    animation: rotated 1.5s ease-in;
}

/* Slide-3 image animation keyframes */
@keyframes rotated {
    from {
        transform: rotate(-90deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* Slide-2 style */
.logo-container {
    position: absolute;
    left: 30%;
    top: 45%;
    transform: scale(1);
    transition: zoomin 0.8s ease;
}

.logo img {
    transition: rotated 0.5 ease-in-out;
}

/* Slide-2 animation keyframes */
@keyframes zoomin {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1.1);
    }
}

/* card slider  */

.card-slider {
    width: 300px;
    overflow: hidden;
    /* animation: moveDown 1s ease-in-out forwards; */

}

.card {
    height: 200px;
    width: 200px;
    background: red;
    position: absolute;
    top: 30%;
    right: 155px;
    opacity: 0;
}

.card.active {
    opacity: 1;
    animation: moveDown 1s ease-in-out forwards;
}

/* /slide -4 */
.video-slide-4 {
    position: absolute;
    top: 20%;
    right: 120px;

}

.video {
    -webkit-animation-name: moveDown;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-name: moveDown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}

@keyframes moveDown {
    0% {
        transform: translateY(-1000%);
        opacity: 1;
    }

    100% {
        transform: translateY(-10%);
        opacity: 1;
    }
}